@tailwind base;
@tailwind components;
@tailwind utilities;

.triangle{
    position: absolute;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-bottom: 11px solid #fdba74;
    border-top: 11px solid transparent;
    display: inline-block;
    margin-left: 4.5em;
    margin-top: -1.2em;
}